<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Google:</b>
  <%= @user.google_id %>
</p>

<p>
  <b>Mac addr:</b>
  <%= @user.mac_addr %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
